<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>

        <!--<RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info.log"-->
                     <!--filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">-->
            <!--<Filters>-->
                <!--<ThresholdFilter level="INFO"/>-->
                <!--<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            <!--</Filters>-->
            <!--<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<SizeBasedTriggeringPolicy size="100 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->

    </appenders>

    <loggers>
        <logger name="org.springframework"  additivity="false" />
        <logger name="org.apache"  additivity="false" />
        <root level="INFO">
            <AppenderRef ref="Console"/>
        </root>
    </loggers>

</configuration>