@charset "UTF-8";

body,h1,h2,h3,h4,p,ul,p{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

em,i{
  font-style: normal;
}
html,body{
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  margin:0 auto;
  font-family: "Microsoft YaHei", "微软雅黑","Hiragino Sans GB", "宋体", Arial, Verdana, sans-serif;
}

ul{
  list-style-type: none;
  margin-bottom: 0;
}

.clearfix{
   clear: both;
}

#root{
  height: 100%;
  min-height: 100%;
  padding:0;
  margin:0 auto;

  #ehr{
    height: 100%;
    min-height: 100%;
    margin:0 -15px;
    #ehrContent{
      height: 100%;
      min-height: 100%;
    }
  }
}

.content{
  padding-top: 64px;
}

.header {
  background-color:#34495e;
  width:100%;
  height:64px;
  position:fixed;
  z-index:99;
  .container{
    margin:0 auto;
     nav{
     &.navbar {
       margin-bottom: 0;
     }
      &.navbar-default{
        color: #fff;
        font-size:16px;
        border: none;
        background: none;
        li{
          a{
            color: #fff;
            font-size:16px;
            padding: 5px 5px ;
            &:hover,&:focus{
              color:#fff;
              font-size:16px;
              border: none;
              background:#108ee9;
            }
          }
        }
        .navbar-header{
          float:left;
          vertical-align:middle;
          line-height:70px;
          display:inline-block;
           .logo{
             float: left;
             i{
               background:url("./../static/images/logo.png") 0 0 no-repeat;
               background-size: 80%;
               display: inline-block;
               height: 45px;
               width: 175px;
               vertical-align:middle;
             }
             span{
               font-size:30px;
               color:#fff;
               margin-left: -40px;
             }
           }
        }
    }

     .navbar-collapse{
       border: none;
       font-size:16px;
       background: none;

       .navbar-nav {
         float: right;
         padding-right: 80px;
         li{
           a{
             padding-top: 22px;
             padding-bottom: 22px;
             color: #fff;
             font-size:16px;
           }
           &.hvr-sweep-to-bottom {
             display: inline-block;
             vertical-align: middle;
             -webkit-transform: translateZ(0);
             transform: translateZ(0);
             box-shadow: 0 0 1px rgba(0, 0, 0, 0);
             -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
             -moz-osx-font-smoothing: grayscale;
             position: relative;
             -webkit-transition-property: color;
             transition-property: color;
             -webkit-transition-duration: 0.3s;
             transition-duration: 0.3s;
             &:before {
               content: "";
               position: absolute;
               z-index: -1;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               background:#108ee9;
               -webkit-transform: scaleY(0);
               transform: scaleY(0);
               -webkit-transform-origin: 50% 0;
               transform-origin: 50% 0;
               -webkit-transition-property: transform;
               transition-property: transform;
               -webkit-transition-duration: 0.3s;
               transition-duration: 0.3s;
               -webkit-transition-timing-function: ease-out;
               transition-timing-function: ease-out;
             }
             &:hover:before, &:focus:before,&:active:before {
               -webkit-transform: scaleY(1);
               transform: scaleY(1);
             }
           }

           &.active{
             a{
               background-color:#108ee9;
             }
           }
         }
       }
       .logout {
         position: absolute;
         top:20px;
         right: 40px;
         z-index: 99;
         a{
           color: #AAAAAA;
           text-decoration:underline;
         }
       }
       .editMode {
         position: absolute;
         top:20px;
         right: 0px;
         z-index: 99;
         a{
           color: #AAAAAA;
           text-decoration:underline;
         }
       }
     }
  }
  }
}

.banner{
  background:url("./../static/images/banner.jpg") 0 0 no-repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:400px;
  position:relative;
   .container{
     margin:0 auto;
     .flex-viewport{
       .banner-info{
         width:80%;
         margin:8em auto 0;
         .banner-info-left{
           text-align:center;
           h1{
             text-transform:capitalize;
             font-size:2em;
             color:#fff;
             margin:0;
           }
           p{
             font-size: 14px;
             color: #f5f5f5;
             margin: 1em 0 3em;
             line-height: 1.8em;
           }
         }
       }
     }
   }
}



.welcome {
  padding:50px;
  .container {
    margin: 0 auto;
    .intro{
      text-align: left;
      padding-left:10px;
      padding-bottom: 30px;
      width:100%;
      height:54px;
      line-height: 54px;
      font-size: 16px;
      color:#333;
      margin-bottom: 30px;
      border-bottom: 1px #D8D8D8 solid;
    }
  }
   h3 {
    color: #108ee9;
    margin: 0;
    font-size: 2.3em;
    padding-left: 0.7em;
    position: relative;
  &:before {
    content: '';
    height: 100%;
    border-left: 5px solid #D8D8D8;
    position: absolute;
    top: 0%;
    left: 0%;
   }
   }
  .welcome-grids{
    margin:6em 0 0;
  }
}
.welcome-grd {
  margin: 0 auto;
  margin:40px;
  border-radius: 125px;
  box-shadow: 0px 0px 5px #D8D8D8;
  padding: 1em 1em 0 1em;
  position: relative;
  min-height: 250px;
  width: 250px;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  .icons {
    width: 70px;
    height: 70px;
    background: #108ee9;
    margin: 0 auto;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -o-border-radius: 60px;
    -ms-border-radius: 60px;
    position: absolute;
    top: -10%;
    left: 37%;
    span {
      color: #fff;
      font-size: 1.5em;
      left: 1.1em;
      top: 1em;
    }
  }
  h4 {
    text-transform: capitalize;
    font-size: 1.3em;
    color: #333;
    margin: 2.5em 0 1em;
    text-align: center;
     a{
      text-transform:capitalize;
      color:#333;
      margin:2.5em 0 1em;
      text-align:center;
    }
  }
  p {
    margin: 0;
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 1.8em;
  }
}
.welcome-grid:hover div.welcome-grd{
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
.welcome-grd:hover{
  box-shadow: 0px 0px 5px #2dcc70;
}
.welcome-grd:hover div.icons{
  background:#999;
}

p.ever{
  margin:.5em 0 0;
  color:#999;
  font-size:14px;
  line-height:1.8em;
  padding-left:1em;
}


.footer {
  padding:40px;
  margin:0 auto;
  background-color:#4D4D4D;
  .container{
    margin:0 auto;
    .footer-grids{
      .footer-grid {
        margin:0 auto;
        padding-left:100px;
         h3.title {
          font-size: 1.8em;
          color: #C9C9C9;
          margin:0;
        }
        ul {
          margin: 0;
          padding: 20px 0 0;
          li {
            display: block;
            margin: 0 0 10px;
            color:#818180;
            font-size: 14px;
            a {
              font-size: 14px;
              color: #8D8D8C;
              text-decoration: none;
              padding: 0.2em 0;
              display: inline-block;
              &:hover{
                  color:#fff;
                }
            }
          }
        }
      }
    }
  }
}
.copy{
  width: 100%;
  text-align: center;
  background:#454545;
  padding:1.5em 0;
   .container{
     margin:0 auto;
     .copy-left{
       text-align:center;
       p{
         color: #fff;
         font-size: 14px;
         margin: 10px 0 0;
       }
     }
   }
}

.wrap {
  width: 100%;
  background-color: #e6e7ec;
  .container {
    margin: 0 auto;
    .wrap-content {
      width: 100%;
      margin: 20px 0 30px 0;
      background-color: #ffffff;
      .wrap-left {
        float: left;
        width: 20%;
        text-align: left;
        .like-it {
          z-index: 88;
          position: relative;
          display: block;
          width: 50px;
          line-height: 60px;
          float: right;
          color: #888888;
          font-size: 26px;
          cursor: pointer;
          text-align: center;
          &:hover{
            color: #FF3300;
          }
        }
        .liked-it {
          z-index: 88;
          position: relative;
          display: block;
          width: 50px;
          line-height: 60px;
          float: right;
          color: #FF3300;
          font-size: 26px;
          cursor: pointer;
          text-align: center;
          &:hover{
            color: #888888;
          }
        }
        h3 {
          line-height: 40px;
          font-size: 24px;
          color: #069;
          padding-left: 20px;
          padding-top: 10px;
        }
        h5 {
          font-size: 16px;
          color: #069;
          padding-left: 20px;
        }
       ul{
         &.menu-list{
           background:#fff;
           font-size:14px;
           color :#333;
           list-style:none;
         }
         li{
           a{
             color:#333;
             height:54px;
             line-height:54px;
             padding-left:20px;
             display:block;
             border-top:1px #e6e7ec solid;
             border-bottom:1px #e6e7ec solid;
             &:hover, &:focus {
               color:#198ad8;
               background-color: #f5f6f6;
               border-left:2px #198ad8 solid;
               border-bottom:1px #e6e7ec solid;
             }
             &.active{
               color:#198ad8;
               background-color: #f5f6f6;
               border-left:2px #198ad8 solid;
             }
            }
         }
       }
      }

      .wrap-right{
        float:right;
        width:80%;
        padding:40px;
        border-left: 1px #e6e7ec solid;
        p, blockquote, ul, ol, dl, li, table, pre {
          margin: 15px 0; }
        .editButton{
          float: right;
          font-size: 16px;
          button{
            margin: 1px 5px;
          }
        }
        h2,h3,h4,h5{
          margin:15px auto;
        }
        ul{
          margin:15px auto;
          li{
            list-style: disc;
            margin-left: 25px;
            line-height: 24px;
          }
        }
        pre{
          margin:5px auto;
          color: #33FF33;
          background: #444444;
          font-size: 14px;
        }
       .doc-content{
          h2{
            color: #333;
            font-size:24px;
            float: none;
            font-weight: normal;
            }
         label{
           color: #8f8f8f;
           padding:10px;
           span{
             height:40px;
             line-height:40px;
             margin:20px 0px;
             background-color:#f2f2f2;
             color: #333;
             display:block;
             text-align:left;
             padding-left:10px;
             font-size:18px;
           }
           p{
             display: block;
             font-size:14px;
             line-height: 24px;
           }
         }
      }
      }
    }
  }
}

.doc-table{
  margin:30px 0;
  table{
    width: 100%;
    border: 1px solid #ddd;
    table-layout: fixed;
     th{
      height: auto;
      background-color: #666;
      color: #fff;
      text-align: left;
      border: 1px solid #ddd;
      padding: 5px 10px;
      font-size: 12px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: normal;
    }
    td{
      border: 1px solid #ddd;
      padding: 5px 10px;
      font-size: 12px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: normal;
      vertical-align: text-top;
      line-height: 25px;
    }
  }
}

.welcome{
  .container{
    margin:0 auto;
    .editButton{
      float: right;
      font-size: 16px;
      margin-right: 120px;
      button{
        margin: 1px 5px;
      }
    }
    .intro{
      font-size: 14px;
      color:#333;
      text-align: left;
      padding-left:150px;
      .tips{
        color:#fff;
        float: left;
        padding:0px 10px;
        border-radius: 3px;
        background: #fa991b;
        margin-right:10px;
      }
    }
    .welcome-grids{
      margin:4em 0 0;
      .editButton{
        float: left;
        margin-left: 106px;
        margin-top: -40px;
        margin-bottom: 20px;
      }
      .welcome-grid{
        .list-content{
          text-align: center;
          width: 273px;
          height:96px;
          border: 1px solid #dfdfdf;
          position: relative;
          margin-bottom: 60px;
          margin-top: 26px;
          .list-item{
            width: 273px;
            position: absolute;
            top: -20px;
            font-size: 0px;
            .list-item-icon{
              width: 68px;
              height: 46px;
              background-color: #fff;
              display: inline-block;
              .glyphicon{
                font-size: 44px;
                color:#108ee9;
              }
            }
            .list-item-title{
              font-size: 20px;
              color: #333;
              padding: 15px 0 0 0;
            }
            .list-item-count{
              padding: 0 12px;
              background-color: #fff;
              display: inline-block;
              .listcount{
                width:100%;
                margin:0 auto;
                padding-top: 15px;
                text-align: center;
                font-size: 14px;
                color: #999;
                .like{
                  float: right;
                  height: 18px;
                  cite{
                    font-family: Tahoma;
                    padding-left: 4px;
                    font-size: 16px;
                    font-style: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.login_body{
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  margin:0 auto;
  font-family: "Microsoft YaHei", "微软雅黑","Hiragino Sans GB", "宋体", Arial, Verdana, sans-serif;
  padding:0;
  background: rgb(55, 84, 129) url("./../static/images/bg.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .login_center{
    padding-top: 180px;
    .logo_title{
      float: left;
      margin-left: 25%;
      margin-top: 80px;
      font-size: 40px;
      color: #f2f2f2;
      //letter-spacing: 5px;
      /*text-shadow:#fff 1px 0 0,#fff 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*/
      .logo{
        display: block;
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
        margin-left: 60px;
        background: url("./../static/images/logo.png")0 0 no-repeat;
      }
    }
    .wrap {
      margin-left: 55%;
      .loginForm {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0
        rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
        position:absolute;
        z-index:0;
        background-color:#FFF;
        border-radius:4px;
        height:300px;
        background: -webkit-gradient(linear, left top, left 24, from(#EEE), color-stop(4%, #FFF), to(#EEE));
        background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px);
        background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);
        &:before {
          content:'';
          position:absolute;
          z-index:-1;
          border:1px dashed #CCC;
          top:5px;
          bottom:5px;
          left:5px;
          right:5px;
          box-shadow: 0 0 0 1px #FFF;
        }
        h1 {
          text-align:center;
          color:#036eb8;
          line-height:3em;
          margin:16px 0 20px 0;
          //letter-spacing: 4px;
          font:normal 26px/1 Microsoft YaHei, sans-serif;
          &:before {
            background-color: #777;
            content: "";
            height: 1px;
            position: absolute;
            top: 15px;
            width: 120px;
            background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
            background-image: -webkit-linear-gradient(right, #777, #fff);
            background-image: -moz-linear-gradient(right, #777, #fff);
            background-image: -ms-linear-gradient(right, #777, #fff);
            background-image: -o-linear-gradient(right, #777, #fff);
            background-image: linear-gradient(right, #777, #fff);
            left: 0;
          }
          &:after{
            background-color: #777;
            content: "";
            height: 1px;
            position: absolute;
            top: 15px;
            width: 120px;
            background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
            background-image: -webkit-linear-gradient(left, #777, #fff);
            background-image: -moz-linear-gradient(left, #777, #fff);
            background-image: -ms-linear-gradient(left, #777, #fff);
            background-image: -o-linear-gradient(left, #777, #fff);
            background-image: linear-gradient(left, #777, #fff);
            right: 0;
          }
        }
        fieldset {
          border:none;
          padding:10px 10px 0;
          span {
            font-size:12px;
            color: #8f8f8f;
          }
          .loginError{
            font-size:16px;
            color: #FF3300;
            margin-left:110px;
          }
          .loginLoading{
            font-size:16px;
            color: #1a75c5;
            margin-left:110px;
          }
          .inputWrap {
            border-radius:3px;
            border:1px solid #CCC;
            margin:10px 10px 0;
          }
          input[type=checkbox] {
            margin-left:20px;
            vertical-align:middle;
          }
          input[type=text], input[type=password] {
            width:350px;
          }
          input[type=submit] {
            display: block;
            text-align:center;
            padding:2px 90px;
            border:1px solid #208fcf;
            border-radius:3px;
            background: -webkit-gradient(linear, left top, left 24, from(#208fcf), color-stop(0%, #208fcf), to(#1a75c5));
            background: -moz-linear-gradient(top, #208fcf, #208fcf 0, #1a75c5 24px);
            background:-o-linear-gradient(top, #208fcf, #208fcf 0, #1a75c5 24px);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#208fcf', endColorstr='#1a75c5');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#208fcf', endColorstr='#1a75c5')";
            height:30px;
            cursor:pointer;
            letter-spacing: 4px;
            margin:20px 70px;
            color:#FFF;
            font-weight:bold;
            &:hover {
              border:1px solid #fab13c;
              background: -webkit-gradient(linear, left top, left 24, from(#f7d57a), color-stop(0%, #f7d57a), to(#fab13c));
              background: -moz-linear-gradient(top, #FF9800, #f7d57a 0, #fab13c 24px);
              background:-o-linear-gradient(top, #FF6900, #f7d57a 0, #fab13c 24px);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d57a', endColorstr='#fab13c');
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d57a', endColorstr='#fab13c')";
            }
          }
        }
      }
    }
  }
}

.box{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 100;
  display: none;
  .button{
    float: right;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 500px;
    button{
      margin: 1px 5px;
    }
  }
  .chapterForm{
    margin-top: 10px;
    height: 100%;
    label{
      font-size: 18px;
      color: #ffffff;
    }
    .topic{
      margin-top: 20px;
      margin-left: 100px;
      label{
        float:left;
      }
      span{
        font-size: 18px;
        color: #ffffff;
      }
      .topicName{
        width:30%;
        float:left;
      }
      .checkbox{
        margin-left: 5px;
        float:left;
      }
    }
    .contentLabel{
      float:left;
      margin-left: 100px;
    }
    .contentPreview{
      margin-left: 700px;
    }
    textarea{
      margin-left: 10px;
      width:49%;
      height: 800px;
      overflow: auto;
      float:left;
    }
    .markdown{
      margin-left: 10px;
      width:49%;
      height: 800px;
      overflow: auto;
      float:left;
      background: #ffffff;
    }
  }
  .docForm{
    margin-top: 150px;
    height: 100%;
    width:100%;
    label{
      font-size: 24px;
      margin-top: 20px;
      margin-left: 580px;
      color: #ffffff;
    }
    input{
      width:30%;
      line-height: 24px;
    }
    .glyphicon{
      font-size: 18px;
      color:#108ee9;
      line-height: 18px;
    }
  }
  .imgUploadForm{
    margin-top: 150px;
    height: 100%;
    width:100%;
    label{
      font-size: 24px;
      margin-top: 20px;
      margin-left: 580px;
      color: #ffffff;
    }
    input{
      width:30%;
      margin-left: 580px;
      line-height: 24px;
    }
  }
}





h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
h1 {
  font-size: 28px;
  color: black; }
h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }
h3 {
  font-size: 18px; }
h4 {
  font-size: 16px; }
h5 {
  font-size: 14px; }
h6 {
  color: #777777;
  font-size: 14px; }
table {
  padding: 0;border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
table tr:nth-child(2n) {
  background-color: #f8f8f8; }
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; }
table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {
  margin-top: 0; }
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; }