body {
    margin:0 auto;
    padding:0;
    font-family: "Microsoft YaHei";
    background-color:#375481;
    background: url("bg.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.wrap {
    margin-top: 150px;
    margin-left: 750px;
    width:480px;
    overflow:hidden;
    background-color:#000000;

}

.logo{
    float: left;
    margin-left: 300px;
    margin-top: 80px;
    font-size: 40px;
    color: #f2f2f2;
    letter-spacing: 5px;
    /*text-shadow:#fff 1px 0 0,#fff 1px 0,#fff -1px 0 0,#fff 0 -1px 0;*/

}
.logo span{
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    background: url("logo.png")0 0 no-repeat;
}
.loginForm {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
    position:absolute;
    z-index:0;
    background-color:#FFF;
    border-radius:4px;
    height:300px;
    width:380px;
    background: -webkit-gradient(linear, left top, left 24, from(#EEE), color-stop(4%, #FFF), to(#EEE));
    background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px);
    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);
}

.loginForm:before {

    content:'';
    position:absolute;
    z-index:-1;
    border:1px dashed #CCC;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    box-shadow: 0 0 0 1px #FFF;

}

.loginForm h1 {

    text-align:center;
    color:#036eb8;
    line-height:3em;
    margin:16px 0 20px 0;
    letter-spacing: 4px;
    font:normal 26px/1 Microsoft YaHei, sans-serif;

}
h1:after, h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;
}

h1:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}
fieldset {
    border:none;
    padding:10px 10px 0;
}


fieldset input[type=text], fieldset input[type=password] {

    line-height:2em;
    font-size:12px;
    height:30px;
    border:none;
    padding:3px 4px 3px 2.2em;
    width:300px;

}

fieldset input[type=submit] {
    display: block;
    text-align:center;
    padding:2px 90px;
    line-height:2em;
    border:1px solid #208fcf;
    border-radius:3px;
    background: -webkit-gradient(linear, left top, left 24, from(#208fcf), color-stop(0%, #208fcf), to(#1a75c5));
    background: -moz-linear-gradient(top, #208fcf, #208fcf 0, #1a75c5 24px);
    background:-o-linear-gradient(top, #208fcf, #208fcf 0, #1a75c5 24px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#208fcf', endColorstr='#1a75c5');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#208fcf', endColorstr='#1a75c5')";
    height:30px;
    cursor:pointer;
    letter-spacing: 4px;
    margin:20px 70px;
    color:#FFF;
    font-weight:bold;
}

fieldset input[type=submit]:hover {
    border:1px solid #fab13c;
    background: -webkit-gradient(linear, left top, left 24, from(#f7d57a), color-stop(0%, #f7d57a), to(#fab13c));
    background: -moz-linear-gradient(top, #FF9800, #f7d57a 0, #fab13c 24px);
    background:-o-linear-gradient(top, #FF6900, #f7d57a 0, #fab13c 24px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d57a', endColorstr='#fab13c');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d57a', endColorstr='#fab13c')";
}

.inputWrap {
    border-radius:3px;
    border:1px solid #CCC;
    margin:10px 10px 0;
}

fieldset input[type=checkbox] {
    margin-left:10px;
    vertical-align:middle;
}

fieldset a {
    color:#1a74c4;
    font-size:12px;
    margin:6px 0 0 10px;
    text-decoration:none;

}

fieldset a:hover {
    text-decoration:underline;
}

fieldset span {
    font-size:12px;
    color: #8f8f8f;
}